<LiveToast.toast_group flash={@flash} connected={assigns[:socket] != nil} corner={:top_right} />
<div class="bg-white h-screen font-sans flex flex-col items-center justify-start">
  <h1>Transactions</h1>

</div>
