<.site_header current_user={assigns[:current_user]} />
<main id="main-content" tabindex="-1" class="px-4 py-8 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <LiveToast.toast_group
      flash={@flash}
      connected={assigns[:socket] != nil}
      corner={:top_right}
      toast_class_fn={&FullstackWeb.Layouts.toast_class_fn/1}
    />
  </div>
  <%= @inner_content %>
</main>
